<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

      <!-- Pregutnas -->
      <section class="tabcontent" id="Preguntas">
        <h2  class="titulo_sec">Preguntas a responder</h2>
            <div>
                <p class="pregunta flow-text">¿Qué beneficios encuentras en el estilo MVC?</p></br>
                <p class="flow-text">asdfsadfsdfsadfsadfasdfsdf</p><br>
    
                <p class="pregunta flow-text">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p></br>
                <p class="flow-text"> afsasdfsfadfasdfasdfsdf</p>
            </div>
            
            <div>
                <h3>Referencias</h3>
                <a href="">Una referencia</a>
            </div>
      </section>

      <!-- Recursos -->
      <section class="tabcontent" id="Recursos">
          <h2  class="titulo_sec">Recursos útiles al llevar a cabo el laboratorio</h2>
          <ul>
              <li><a class="flow-text" href="https://www.freecodecamp.org/news/model-view-architecture/">How Model-View-Controller Architecture Works</a></li></br>
              <li><a class="flow-text" href="https://developer.mozilla.org/en-US/docs/Glossary/MVC">MVC</a></li></br>
          </ul><br><br>
      </section>

<%- include('includes/footer.ejs') %>