<div>
    <nav id="pushpinNav" class="topnav nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li> <a href="/"><button class="tablinks <%= act1 %> flow-text"> Home</button></a></li>
         <% if(!logged){ %> 
         <li><a href="/login"><button class="tablinks <%= act2 %> flow-text">Log-in</button></a></li>
         <% } %> 
         <li><a href="/tienda"><button class="tablinks <%= act3 %> flow-text">Tienda</button></a></li>
         <li><a href="/Recursos"><button class="tablinks  <%= act4 %> flow-text">Recursos y pregunta</button></a></li>
      </ul>
      <% if(logged){ %> 
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/usuarios/logout"><button class="tablinks flow-text">Log Out</button></a></li>
      </ul>
      <% } %> 
    </nav>
   </div>

   <main class="container">