<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

<section class="tabcontent" id="DescripInstr">
    <h3 class="titulo_sec"> Descripción </h2>
    <p class="flow-text">
        En esta actividad exploraremos algunos APIs de aplicaciones web, con el objetivo de que aprendas a integrar funcionalidad desarrollada por terceros en tus propias aplicaciones.
    </p>
    <p>
        <h3>Objetivos:</h3>
        <ul>
            <li class="flow-text">Entender qué son los servicios web y su evolución.</li>
            <li class="flow-text">Explorar APIs para aplicaciones web e integrar su funcionalidad en tus aplicaciones.</li>
        </ul>
    </p>

    <h3 class="titulo_sec">Instrucciones</h2>
    <p>
        <ol>
            <li class="flow-text">
                Revisa junto con tu profesor, la 
                <a href="https://docs.google.com/presentation/d/1IzSw6HYqGKbJY9o62bxvQS8fSHSgqz7MqJ9W22znv08/edit?usp=sharing">presentación de Servicios Web</a>.
            </li></br>

            <li class="flow-text">
                Revisa los siguientes enlaces a sitios de desarrolladores de APIs de algunas aplicaciones web:
                <ul>
                    <li><i class="mdi-content-send"></i> <a href="https://developers.google.com/maps/?hl=es">Google maps</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://developers.google.com/google-apps/calendar/">Google calendar</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://developers.facebook.com/">Facebook</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://airtable.com/developers/">Airtable</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://developer.riotgames.com/">Riot Games</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://dev.twitter.com/">Twitter</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://developers.soundcloud.com/">Soundcloud</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://developer.vimeo.com/">Vimeo</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://instagram.com/developer/">Instagram</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://developer.linkedin.com/">Linkedin</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://www.dropbox.com/developers/core">Dropbox</a></li>
                    <li><i class="mdi-content-send"></i> <a href="https://developer.paypal.com/">Paypal</a></li>
                </ul>
            </li></br>

            <li class="flow-text">
                Selecciona uno de los APIs.
            </li></br>

            <li class="flow-text">
                Consume el API dentro de una de tus aplicaciones web.
            </li><br>

            <li class="flow-text">
                Responde a las preguntas dentro de tu aplicación.
            </li></br>
        </ol>
    </p>
    <h3 class="titulo_sec">Visaulización</h2>
    <p class="flow-text">
        Para ver los registros completos, entrar a <a href="/tienda/Records">La visualizacion embebida</a> o directamente a la página de 
        <a href="https://airtable.com/shrSYgR5CiZWiSjC8">Airtable</a>.
    </p>
</section>
<%- include('includes/footer.ejs') %>