<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

        <!-- Pregutnas -->
        <section class="tabcontent" id="Preguntas">
            <h2  class="titulo_sec">Preguntas a responder</h2>
            <div>
                <p class="pregunta flow-text">¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</p>
                <p class="flow-text">Si tu aplicación es totalmente dependiente de los servicios de terceros, pues simplemente si existe un fallo, todo el sistema desarrollado
                    no podría sostenerse solo si es que en algun momento colapsa el servicio del tercero. Así mismo no se tiene un control total de este, así como estar limitado
                    a las condiciones y cambios del servicio. <br>
                    Por otro lado el desarrollo es mas rápido y existe cierta confianza de que no fallaran, o que si lo hacen el soporte será rápido, por lo que se vuelve mas 
                    barato y se ahorra tiempo.
                </p><br>
            </div><!--
            <div>
                <h2>Referencias</h2>
                <p class="flow-text"><a href="https://www.evidian.com/pdf/wp-strongauth-es.pdf">Los 7 métodos de Autentificación más utilizados</a></p>
            </div> -->
        </section>

        <!-- Recursos -->
        <section class="tabcontent" id="Recursos">
          <h2  class="titulo_sec">Recursos útiles al llevar a cabo el laboratorio</h2>
          <ul>
              <li><a class="flow-text" href="https://github.com/abhishekbanthia/Public-APIs?utm_source=SitePoint&utm_medium=email&utm_campaign=Versioning">Public Apis</a></li></br>
              <li><a class="flow-text" href="https://www.freecodecamp.org/news/what-is-an-api-and-how-to-test-it/">What is an API and how to test it</a></li></br>
          </ul><br><br>
        </section>

<%- include('includes/footer.ejs') %>