<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

        <h4>Usuario no registrado:</h4>
        <p class="flow-text">Por favor ingrese con su cuenta. <br> Si no tiene cuenta, por favor registrese.</p>
        <div class="row">
            <div class="col s4 offset-s1">
                <label>
                    <a class="waves-effect waves-teal btn wideBtn" href="/login/RegPssw">Registro</a>
                </label>
            </div>
            <div class="col s4 offset-s2">
                <label>
                    <a class="waves-effect waves-teal btn wideBtn" href="/login/ValidaPssw">Ingresar</a>
                </label>
            </div>
        </div>
    </main>

<%- include('includes/footer.ejs') %>