<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

      <!-- Pregutnas -->
      <section class="tabcontent" id="Preguntas">
        <h2  class="titulo_sec">Preguntas a responder</h2>
        <ul>
            <li class="pregunta flow-text">¿Qué otros templating engines existen para node?</li></br>
            <p class="flow-text"> Material Design es un estándar de diseño con la finalidad de la compatibilidad 
                de visualización entre distintos dispositivos. Fue creado por Google para ayudar a un gran número
                de equipos de trabajo construir experiencias digitales de alta calidad. Este se aplica no solamente 
                para diseño web, sino tambien para Android, iOS, Flutter, etc.</p>
        </ul>
      </section>

      <!-- Recursos -->
      <section class="tabcontent" id="Recursos">
          <h2  class="titulo_sec">Recursos útiles al llevar a cabo el laboratorio</h2>
          <ul>
              <li><a class="flow-text" href="https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/">The Node.js Event Loop</a></li></br>
              <li><a class="flow-text" href="https://nodejs.org/en/docs/guides/anatomy-of-an-http-transaction/">Anatomy of an HTTP Transaction</a></li></br>
              <li><a class="flow-text" href="https://nodejs.org/dist/latest-v14.x/docs/api/http.html#http_http">Documentación del módulo HTTP de Node.js</a></li></br>
          </ul><br><br>
      </section>

<%- include('includes/footer.ejs') %>