<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

      <!-- Pregutnas -->
      <section class="tabcontent" id="Preguntas">
        <h2  class="titulo_sec">Preguntas a responder</h2>
        <ul>
            <li class="pregunta flow-text">¿Qué otros templating engines existen para node?</li></br>
            <p class="flow-text"> Material Design es un estándar de diseño con la finalidad de la compatibilidad 
                de visualización entre distintos dispositivos. Fue creado por Google para ayudar a un gran número
                de equipos de trabajo construir experiencias digitales de alta calidad. Este se aplica no solamente 
                para diseño web, sino tambien para Android, iOS, Flutter, etc.</p>
        </ul>
      </section>

      <!-- Recursos -->
      <section class="tabcontent" id="Recursos">
          <h2  class="titulo_sec">Recursos útiles al llevar a cabo el laboratorio</h2>
          <ul>
              <li><a class="flow-text" href="https://pugjs.org/">pug</a></li></br>
              <li><a class="flow-text" href="https://handlebarsjs.com/">Handlebars</a></li></br>
              <li><a class="flow-text" href="https://ejs.co/">EJS</a></li></br>
              <li><a class="flow-text" href="https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)">Cross-site Scripting (XSS)</a></li></br>
          </ul><br><br>
      </section>

<%- include('includes/footer.ejs') %>