
<%- include('includes/header.ejs') %>
<%- include('includes/navTab.ejs') %>

        <!-- Registra password valido -->
        <section class="tabcontent" id="Password">
            <h2 class="titulo_sec">Logging</h2>
            <div>
                <form action="ValidaPssw" method="POST" accept-charset="UTF-8">
                    <label for="username" class="flow-text">Ingresa un nombre de usuario:</label><br>
                    <input type="text" name="username" id="username" value="">

                    <label for="pass" class="flow-text">Introduce tu password:</label><br>
                    <input type="password" name="pass" id="pass" value="">
                    <button class="btn waves-effect waves-light btn-large right" type="submit" name="action">Enviar
                        <i class="material-icons right">send</i></button>
                </form>
            </div>
            <br>
        </section>

<%- include('includes/footer.ejs') %>