<div>
    <nav id="pushpinNav" class="topnav nav-wrapper">
       <a href="/"><button class="tablinks <%= act1 %> flow-text"> Home</button></a>
       <a href="/login"><button class="tablinks <%= act2 %> flow-text">Log-in</button></a>
       <a href="/tienda"><button class="tablinks <%= act3 %> flow-text">Tienda</button></a>
       <a href="/Recursos"><button class="tablinks  <%= act4 %> flow-text">Recursos y pregunta</button></a>
    </nav>
   </div>

   <main class="container">